aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
google_images_download
gsearch
gtts
hachoir
Pillow
psycopg2
python-magic
regex
requests
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
Telethon==1.8.0
git+https://github.com/ahupp/python-magic
